{% extends "site_base.html" %}
{% load i18n %}

{% block breadcrumbs %}

{% endblock %}

{% block description %}Login page{% endblock %}
{% block title %}{% trans 'toLogin' %}{% endblock %}

{% block breadcrumb %}{{ block.super }}
<li class="selected">&raquo; {% trans 'toLogin' %}</li>
{% endblock %}

{% block content %}
<div id="content">
	<h2 class="title">{% trans 'toLogin' %}</h2>
	
	<p>{% trans "loginDesc" %}

	{% include "includes/social-auth-login.html" %}
	
	{% comment %}
	
	{% if error_message %}
	<p class="errornote">
	  <div class="ui-state-error ui-corner-all mainErrorDIV">
	    <p><strong>{% trans 'error' %}:  </strong>{{ error_message }}</p>
	  </div>
	<p>
    {% trans 'forgottenPasswd' %}? 
    <a href="{% url registration:auth_password_reset">{% trans 'Reset password' %}</a>
	{% endif %}

	<form action="{{ app_path }}" method="post" id="login-form">
	  {% csrf_token %}
	  <table>
	    <tr>
		    <td><label for="id_username">{% trans 'Username:' %}</label></td>
		    <td><input type="text" name="username" id="id_username" /></td>
	    </tr>
	    <tr>
	    <td><label for="id_password">{% trans 'Password:' %}</label></td>
	    <td><input type="password" name="password" id="id_password" /></td>
	    </tr>
	  </table>
	  <input type="submit" class="form-submit" value="{% trans 'Log in' %}" />
	</form>

	<script type="text/javascript">
	document.getElementById('id_username').focus()
	</script>
	
	{% endcomment %}
</div>
{% endblock %}
